[host]
size = 1304x984
erase = in 90 days

[font]
large_font = B612-Regular
large_size = 240
small_font = B612-Regular
small_size = 50
tiny_font = B612Mono-Regular
tiny_size = 32

[loggers]
keys=root

[handlers]
keys=console,file

[formatters]
keys=format

[logger_root]
level=NOTSET
handlers=console,file

[handler_console]
class=StreamHandler
level=NOTSET
formatter=format
args=(sys.stdout,)

[handler_file]
class=logging.handlers.TimedRotatingFileHandler
level=NOTSET
formatter=format
args=('clock.log', 'midnight')

[formatter_format]
format=%(asctime)s  %(name)s    %(levelname)s   %(message)s {%(filename)s:%(funcName)s:%(lineno)d}